.links{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    background-color: rgb(71, 169, 214);

    display: flex;
    justify-content: space-around;
}

.individual-link{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;

    background-color: rgb(71, 169, 214);
    border-radius: 310px;
}

.individual-link:hover{
    background-color: rgb(8, 158, 10)
    
}

a{
    text-decoration: none;
    color: rgb(228, 239, 240);
}

.image-section{
    display: flex;
    justify-content: center;

    margin-top: 7px;
    margin-bottom: 7px;
}

.image-section img{
    width: 960px;
    height: 540px;
}

.main-container{
    margin-left: 500px;
    margin-right: 500px;

    border-left-style: solid;
    border-right-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: black;
}