.links{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    background-color: rgb(71, 169, 214);

    display: flex;
    justify-content: space-around;
}

.individual-link{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;

    background-color: rgb(71, 169, 214);
    border-radius: 310px;
}

.individual-link:hover{
    background-color: rgb(8, 158, 10)
    
}

a{
    text-decoration: none;
    color: rgb(228, 239, 240);
}

.image-section{
    display: flex;
    justify-content: center;

    margin-top: 7px;
    margin-bottom: 7px;
}

.image-section img{
    width: 960px;
    height: 540px;
}

.main-container{
    margin-left: 500px;
    margin-right: 500px;

    border-left-style: solid;
    border-right-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: rgb(71, 169, 214);
}

.text-section{
    margin-left: 36px;
    margin-right: 36px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.text-section a{
    font-size: 42px;
}

.donate-bottom-button{
    background-color: rgb(71, 169, 214);
    border-radius: 310px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.donate-bottom-button:hover{
    background-color: rgb(8, 158, 10)
}

.confirm-donation-button{
    border-radius: 310px;
    width: 100%;

    margin-top: 70px;
    font-size: 42px;
    padding-top: 3px;
    padding-bottom: 3px;

    background-color: rgb(71, 169, 214);
    text-decoration: none;
    color: rgb(228, 239, 240);
    border: none;
}

.confirm-donation-button:hover{
    background-color: rgb(8, 158, 10)
}

.donate-bottom-button-wrapper{
    display: flex;
    justify-content: center;
}

form{
    margin-left: 2%;
    margin-right: 2%;
    color: rgb(49, 52, 56);
}

.standard-label{
    display:inline-block;

    padding-top: 5px;
    padding-bottom: 3px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

input.standard-text-input{
    width: 100%;

    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

    border-style: solid;
    border-width: 2px;
    border-color: rgb(71, 169, 214);

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

.optional-text{
    color: rgb(200, 200, 200);
}

.secondary-info{
    display: flex;
    justify-content: space-around;

    margin-top: 10px;
}

.secondary-unit{
    display: flex;
    justify-content: flex-start;
}

.secondary-label{
    display:inline-block;

    padding-top: 5px;
    padding-bottom: 3px;
    padding-right: 5px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

input.secondary-text-input{
    width: 50%;

    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

    border-style: solid;
    border-width: 2px;
    border-color: rgb(71, 169, 214);

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

.standard-payment-label{
    display:inline-block;

    padding-top: 5px;
    padding-bottom: 3px;
    margin-top: 60px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.payment-frequency{
    display: flex;
    justify-content: space-around;
}

.radio-option{
    padding: 5px;
    margin-top: 5px;

    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(71, 169, 214);
}